@using WebHelpers.Mvc5
@model IEnumerable<CommunityOne.Models.UserMenu>
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
       
        @* END Menu *@
        @{ 
            Html.RenderAction("FetchUserMenu", "UserMenu", Model);
        }
    </section>
</aside>